@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic");
:focus {
  outline: medium none !important;
}
body {
  font-family: "Ubuntu", Arial !important;
  background-color: #edeeef;
}
ul {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 15px;
  color: #a1a1a1;
  line-height: 16px;
  text-transform: uppercase;
}
p {
  color: #5a5a5a;
  line-height: 22px;
  font-weight: 300;
}
nav ul {
  display: inline-block;
  list-style: none;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
textarea {
  padding: 10px 20px;
  box-shadow: inset 0px 4px 7px #ebeced;
  background-color: #f9f9f9;
  border-color: #c3c5c9;
  font-weight: 300;
  font-family: "Ubuntu", Arial !important;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus,
textarea:focus {
  background-color: #f1f7ff;
}
input[type='text']:invalid,
input[type='password']:invalid,
input[type='email']:invalid,
input[type='tel']:invalid,
textarea:invalid {
  background-color: #fff4f1;
  color: #f66442;
  border-color: #f66442;
}
.tooltip.bottom .tooltip-arrow {
  right: 20px;
  left: auto !important;
}
.tooltip-inner {
  padding: 15px 23px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.top-form h2 {
  color: white;
  font-size: 15px;
}
.top-form p {
  font-weight: 300;
  color: white;
}
.top-form address {
  color: white;
  font-weight: 300 !important;
}
.top-form address strong {
  font-weight: bold !important;
}
.top-form input[type='text'],
.top-form input[type='password'],
.top-form input[type='email'],
.top-form textarea {
  padding: 10px 15px;
  border-color: #325a95;
}
.top-form input[type='text']::-webkit-input-placeholder,
.top-form input[type='password']::-webkit-input-placeholder,
.top-form input[type='email']::-webkit-input-placeholder,
.top-form textarea::-webkit-input-placeholder {
  color: #b9b9b9;
}
.top-form input[type='text']:-moz-placeholder,
.top-form input[type='password']:-moz-placeholder,
.top-form input[type='email']:-moz-placeholder,
.top-form textarea:-moz-placeholder {
  color: #b9b9b9;
}
.top-form input[type='text']::-moz-placeholder,
.top-form input[type='password']::-moz-placeholder,
.top-form input[type='email']::-moz-placeholder,
.top-form textarea::-moz-placeholder {
  color: #b9b9b9;
}
.top-form input[type='text']:-ms-input-placeholder,
.top-form input[type='password']:-ms-input-placeholder,
.top-form input[type='email']:-ms-input-placeholder,
.top-form textarea:-ms-input-placeholder {
  color: #b9b9b9;
}
.top-form input[type='text'],
.top-form input[type='password'],
.top-form input[type='email'] {
  height: 40px;
}
.top-form .btn-primary {
  background-color: #2b5188;
  background-image: none;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 10px 20px;
  float: right;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: none;
  text-transform: uppercase;
  font-family: "Ubuntu", Arial !important;
}
#hidden-header {
  width: 100%;
  float: left;
  background-image: url('../img/hidden-header.png');
  height: 408px;
  border-bottom: solid 1px #325280;
  margin-top: -409px;
}
#hidden-header .profile-form {
  padding-top: 90px;
  display: none;
}
#hidden-header .contact-form {
  padding-top: 40px;
  display: none;
}
header {
  width: 100%;
  float: left;
  background: url('../img/header.png') repeat-x;
  height: 51px;
  position: relative;
  z-index: 1000;
}
header .logo a {
  display: inline-block;
}
#homepage-slider {
  background-color: #2b5188;
  height: 275px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -1px;
  margin-bottom: -46px;
}
#homepage-slider .container {
  position: relative;
  height: 236px;
}
#homepage-slider ul {
  list-style: none;
}
#homepage-slider ul li {
  position: relative;
  height: 236px;
}
#homepage-slider .controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 200;
}
#homepage-slider .controls a {
  width: 34px;
  height: 34px;
  background-image: url('../img/slider-controls.png');
  text-indent: -9999px;
  text-transform: capitalize;
  float: left;
  margin-right: 5px;
}
#homepage-slider .controls a.next {
  background-position: -34px 0;
}
#homepage-slider .controls a.next:hover {
  background-position: -34px -34px;
}
#homepage-slider .controls a.prev {
  background-position: 0px 0;
}
#homepage-slider .controls a.prev:hover {
  background-position: 0px -34px;
}
#homepage-slider .text-box {
  margin-left: 0;
  margin-top: 30px;
}
#homepage-slider .text-box h1 a {
  font-size: 41px;
  line-height: 42px;
  font-weight: bold;
  margin: 0;
  color: white;
}
#homepage-slider .text-box p {
  color: white;
  font-size: 15px;
}
#homepage-slider .description {
  position: absolute;
  bottom: 15px;
  right: 0;
  background-color: #09101b;
  text-align: center;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
#homepage-slider .description .left {
  float: left;
  width: 200px;
}
#homepage-slider .description .right {
  width: 100px;
  float: left;
  border-left: solid 1px #222832;
  padding: 15px 0;
}
#homepage-slider .description .title {
  float: left;
  width: 100%;
  border-bottom: solid 1px #222832;
  padding: 2px 0;
}
#homepage-slider .description .title .big {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
#homepage-slider .description .title .small {
  color: #b5b7ba;
  font-size: 13px;
  font-weight: 300;
}
#homepage-slider .description .rooms {
  float: left;
  width: 100%;
  color: #b5b7ba;
  font-size: 13px;
  font-weight: 300;
  padding: 2px 0;
}
#homepage-slider .description .price {
  color: white;
}
#homepage-slider .description .price .number {
  font-size: 21px;
  font-weight: bold;
}
#homepage-slider .description .price .rate {
  font-size: 13px;
}
#homepage-slider .bg-image {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
}

#homepage-slider .slider-wrapper {
  width: 100%;
  height: 275px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#homepage-slider .controls-wrapper {
  width: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#homepage-slider .homepage-slider {
  width: 100%;
  height: 275px;
  overflow-y: hidden;
}

#homepage-slider ul li {
  height: 275px !important;
}
#page-title {
  background-color: #2b5188;
  height: 185px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -1px;
  margin-bottom: -46px;
  padding-top: 30px;
}
#page-title.small-height {
  margin-bottom: 20px;
  height: 145px;
}
#page-title h1 {
  color: white;
  font-size: 41px;
  line-height: 42px;
}
#page-title p {
  color: white;
  font-size: 15px;
}
#main {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}
#main .content-bubble {
  background-image: url('../img/content-bubble.png');
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
}
#content {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
  background-color: #f6f7f8;
  border-top: solid 1px #c3c5c9;
  padding-top: 35px;
}
#content.alternate-bg {
  background-color: #edeeef;
}
#content.alternate-bg:after {
  background-image: url('../img/content-bubble.png');
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
  content: "";
  z-index: 3;
}
footer {
  width: 100%;
  float: left;
  background-color: #fafafa;
  border-top: solid 1px #c3c5c9;
  padding: 10px 0 20px;
  position: relative;
}
footer .footer-bubble {
  background-image: url('../img/footer-bubble.png');
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
}
#sub-footer {
  background-color: #efefef;
  width: 100%;
  float: left;
  border-top: solid 1px #c3c5c9;
  padding: 10px 0;
}
#sub-footer .logo a {
  display: inline-block;
}
#sub-footer .copyright {
  color: #a7a7a7;
  text-align: center;
  margin-top: 15px;
}
#sub-footer .social-icons {
  float: right;
  margin-top: 10px;
}
#sub-footer .social-icons a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-indent: -9999px;
  text-transform: capitalize;
  margin-left: 8px;
  background-image: url('../img/social-icons.png');
}
#sub-footer .social-icons a.be {
  background-position: 0 0;
}
#sub-footer .social-icons a.star {
  background-position: -40px 0;
}
#sub-footer .social-icons a.pinterest {
  background-position: -80px 0;
}
#sub-footer .social-icons a.facebook {
  background-position: -120px 0;
}
#sub-footer .social-icons a.twitter {
  background-position: -160px 0;
}
.header-buttons {
  float: right;
}
.header-buttons a {
  width: 49px;
  height: 49px;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  text-transform: capitalize;
}
.header-buttons a:hover {
  background-color: #4071bc;
  border-left: solid 1px transparent;
}
.header-buttons a.add {
  border-left: solid 1px transparent;
  background-image: url('../img/header-add.png');
}
.header-buttons a.add:hover {
  border-left: solid 1px #2e5289;
}
.header-buttons a.contact {
  background-image: url('../img/header-contact.png');
}
.header-buttons a.profile {
  background-image: url('../img/header-profile.png');
}
.header-buttons a.closed {
  border-top: solid 1px #4073bd;
  border-bottom: solid 1px #6395de;
  margin-top: -1px;
  position: relative;
  z-index: 300;
  background-color: #4073bd !important;
  border-left: solid 1px transparent;
  background-image: url('../img/header-close.png') !important;
}
.main-nav {
  text-align: center;
}
.main-nav > ul > li {
  position: relative;
  float: left;
}
.main-nav > ul > li.active a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-nav > ul > li > a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 14px 15px;
  display: inline-block;
  color: white;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-decoration: none;
}
.main-nav > ul > li > a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-nav > ul > li:hover a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-nav > ul > li:hover > .dropdown-menu {
  display: block;
}
.main-nav > ul > li > .dropdown-menu {
  top: 90%;
  text-align: left;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.main-nav > ul > li > .dropdown-menu li a {
  padding: 10px 20px;
  color: #5a5a5a;
  font-weight: 300;
}
.main-nav > ul > li > .dropdown-menu li a:hover {
  background: none;
  background-color: #efefef;
}
.main-nav > ul > li > .dropdown-menu .dropdown-submenu > a:after {
  border-color: transparent transparent transparent #414141;
}
.main-nav > ul > li > .dropdown-menu .dropdown-submenu:hover > a {
  background: none;
  background-color: #efefef;
}
.main-nav > ul > li > .dropdown-menu .dropdown-submenu:hover > a:after {
  border-color: transparent transparent transparent #a1a1a1;
}
.main-nav > ul > li > .dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 20px;
  position: absolute;
  top: -7px;
}
.main-nav > ul > li > .dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 21px;
  position: absolute;
  top: -6px;
}
.tab-finder .nav-tabs {
  float: left;
  width: 100%;
  margin-bottom: 0;
  border-bottom-color: #c3c5c9;
}
.tab-finder .nav-tabs > .active > a {
  border: 1px solid #c3c5c9;
  border-bottom: solid 2px white;
  border-left: 0px solid transparent;
  background-color: white;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.tab-finder .nav-tabs > .active > a:hover {
  background-color: white;
}
.tab-finder .nav-tabs > li {
  margin-bottom: -2px;
}
.tab-finder .nav-tabs > li.first-tab > a {
  -webkit-border-radius: 4px 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 0 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 0 0 0;
  background-clip: padding-box;
  border-left: 1px solid #c3c5c9;
}
.tab-finder .nav-tabs > li.last-tab > a {
  -webkit-border-radius: 0 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 0 4px 0 0;
  background-clip: padding-box;
}
.tab-finder .nav-tabs > li > a {
  margin-right: 0px;
  background-color: #e2e2e2;
  border: 1px solid #c3c5c9;
  border-left: 0px solid transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #b8b8b8;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.tab-finder .nav-tabs > li > a:hover {
  background-color: #efefef;
  color: #a1a1a1;
}
.tab-finder .nav-tabs li {
  width: 25%;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.tab-finder .tab-content {
  float: left;
  width: 100%;
  background-color: white;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  overflow: visible;
}
.tab-finder .tab-content .inner {
  padding: 30px 40px 20px;
  border: solid 1px #c3c5c9;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.tab-finder .tab-content form {
  display: inline-block;
}
.tab-finder .tab-content form input {
  font-family: "Ubuntu", Arial !important;
}
.tab-finder .tab-content form .filter-option {
  font-family: "Ubuntu", Arial !important;
}
.tab-finder .tab-content form .search-string {
  width: 628px;
  margin-right: 15px;
}
.tab-finder .tab-content form .search-year {
  width: 125px;
}
.tab-finder .tab-content form .search-select {
  width: 130px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.tab-finder .tab-content form .search-price {
  width: 100px;
  margin-right: 15px;
  margin-bottom: 0;
}
.tab-finder .tab-content form .search-price.no-margin {
  margin-right: 0;
}
.tab-finder .tab-content form .line-divider {
  width: 12px;
  text-align: center;
  height: 50px;
  display: inline-block;
  color: #c3c5c9;
  font-weight: 300;
}
.tab-finder .tab-content form .btn {
  width: 238px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Ubuntu", Arial !important;
}
.tab-finder .tab-content form .btn.search-property {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  font-size: 16px;
}
.tab-finder .tab-content form .btn.search-property:hover {
  background-image: none;
  background-color: #4479ca;
}
.bootstrap-select .caret {
  background: url('../img/select-caret.png') no-repeat;
  border: none;
  height: 17px;
  width: 8px;
  margin-top: 2px;
}
.bootstrap-select .btn {
  background-image: none;
  background-color: white;
  border: solid 1px #c3c5c9;
  font-weight: 300 !important;
  text-transform: capitalize !important;
}
.bootstrap-select .dropdown-menu {
  overflow-y: visible !important;
  text-align: right;
  min-width: 90px !important;
  right: 0;
  left: auto;
  top: 120%;
}
.bootstrap-select .dropdown-menu > li > a {
  padding: 3px 10px;
  color: #5a5a5a;
  font-weight: 300;
}
.bootstrap-select .dropdown-menu > li > a:hover {
  background: none;
  background-color: #efefef;
}
.bootstrap-select .dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 9px;
  position: absolute;
  top: -7px;
}
.bootstrap-select .dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 10px;
  position: absolute;
  top: -6px;
}
.featured-items {
  padding-bottom: 20px;
}
.featured-items .controls {
  float: right;
  margin-right: 0px;
  margin-top: -22px;
}
.featured-items .controls a {
  width: 16px;
  height: 16px;
  float: left;
  background-image: url('../img/testimonial-controls.png');
  text-indent: -9999px;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-left: 5px;
}
.featured-items .controls a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.featured-items .controls a.prev {
  background-position: 0px 0px;
}
.featured-items .controls a.next {
  background-position: -20px 0px;
}
.featured-items .featured-items-slider {
  width: 100%;
  float: left;
}
.featured-items .featured-items-slider .slides {
  list-style: none;
  float: left;
  width: 100%;
  min-height: 270px;
}
.featured-items .featured-item {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 10px #d0d2d5;
  -moz-box-shadow: 0px 0px 10px #d0d2d5;
  box-shadow: 0px 0px 10px #d0d2d5;
  color: 0px 0px 10px #d0d2d5;
}
.featured-items .featured-item:hover h3 a {
  color: #4a83db;
}
.featured-items .featured-item:hover .top:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.featured-items .featured-item:hover .top:after {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.featured-items .featured-item .bubble {
  width: 14px;
  height: 9px;
  background-image: url('../img/bubble.png');
  position: absolute;
  bottom: -8px;
  right: 20px;
  display: none;
}
.featured-items .featured-item .top {
  background-color: white;
  position: relative;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}
.featured-items .featured-item .top .inner-border {
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}
.featured-items .featured-item .top:before {
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 20px;
  position: absolute;
  bottom: -6px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.featured-items .featured-item .top:after {
  border-top: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 21px;
  position: absolute;
  bottom: -5px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.featured-items .featured-item .bottom {
  background-color: #efefef;
  text-align: center;
  display: none;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.featured-items .featured-item .bottom .inner-border {
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.featured-items .featured-item .bottom .inner-padding {
  padding-bottom: 5px;
}
.featured-items .featured-item .bottom p {
  color: #a9a9a9;
}
.featured-items .featured-item .inner-border {
  border: solid 1px #c3c5c9;
}
.featured-items .featured-item .inner-padding {
  padding: 11px;
}
.featured-items .featured-item figure {
  margin-left: -1px;
  margin-bottom: 10px;
  width: 100%;
  height: 130px;
  border: solid 1px #c3c5c9;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px #d0d2d5;
  -moz-box-shadow: inset 0px 0px 10px #d0d2d5;
  box-shadow: inset 0px 0px 10px #d0d2d5;
  color: inset 0px 0px 10px #d0d2d5;
  position: relative;
}
.featured-items .featured-item figure:hover .figure-hover {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.featured-items .featured-item figure:hover .banner {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.featured-items .featured-item figure .banner {
  background-color: #333333;
  padding: 3px 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.featured-items .featured-item figure .figure-hover {
  width: 100%;
  height: 100%;
  background: url('../img/figure-zoom.png') no-repeat center center;
  background-color: black;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-indent: -9999px;
}
.featured-items .featured-item figure img {
  width: 100%;
  height: auto;
}
.featured-items .featured-item h3 {
  color: #414141;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
}
.featured-items .featured-item h3 a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #414141;
  text-decoration: none;
}
.featured-items .featured-item.featured-list {
  margin-bottom: 20px;
}
.featured-items .featured-item.featured-list figure {
  width: 30%;
  height: 130px;
  display: inline-block;
  vertical-align: top;
}
.featured-items .featured-item.featured-list .right {
  width: 65%;
  margin-left: 3%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.featured-items .featured-item.featured-list .description p {
  color: #414141;
  font-size: 13px;
}
.featured-items .featured-item.featured-list .top:after {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.featured-items .featured-item.featured-list .top:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.featured-items .featured-item.featured-list .bottom {
  display: block;
}
.featured-items .featured-item.featured-list .price-wrapper {
  position: absolute;
  top: 6px;
  right: 0px;
}
.featured-items .featured-item.featured-list .bottom .inner-padding {
  height: 30px;
}
.featured-items .featured-item.featured-list .bottom p {
  float: left;
}
.featured-items .featured-item.featured-list .bottom .star-rating {
  float: right;
}
.featured-items .featured-item-wrapper {
  margin-bottom: 25px;
}
.featured-items .featured-item-wrapper { 
  min-height: 270px; 
}
.slides li {
  display: none;
}
.property-box {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.property-box .left {
  width: 70%;
  float: left;
}
.property-box .left figure {
  margin-left: -1px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 280px;
  border: solid 1px #c3c5c9;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px #d0d2d5;
  -moz-box-shadow: inset 0px 0px 10px #d0d2d5;
  box-shadow: inset 0px 0px 10px #d0d2d5;
  color: inset 0px 0px 10px #d0d2d5;
  position: relative;
  float: left;
}
.property-box .left figure .banner {
  background-color: #333333;
  padding: 3px 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.property-box .left figure img {
  width: 100%;
  height: auto;
}
.property-box .right {
  width: 25%;
  margin-left: 5%;
  float: left;
}
.property-box .row {
  margin-left: 0px;
}
.property-box .top {
  padding: 20px 20px 30px;
  background-color: white;
  position: relative;
  border-bottom: solid 1px #c3c5c9;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}
.property-box .top:before {
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 20px;
  position: absolute;
  bottom: -7px;
}
.property-box .top:after {
  border-top: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 21px;
  position: absolute;
  bottom: -6px;
}
.property-box .bottom {
  background-color: #efefef;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.property-box .bottom .inner {
  padding: 10px 20px;
}
.property-box .bottom p {
  float: left;
  color: #b3b3b3;
  font-size: 13px;
  margin-bottom: 0;
}
.property-box .bottom .update-box p {
  color: #414141;
}
.property-box .bottom .star-rating {
  margin-left: 10px;
  margin-top: 2px;
}
.property-box h3 {
  font-size: 14px;
  color: #414141;
  margin-top: 0;
  line-height: 14px;
}
.property-box h3 span {
  font-weight: 300;
  color: #a1a1a1;
}
.property-box .gallery {
  width: 100%;
}
.property-box .gallery .line {
  float: left;
  width: 100%;
}
.property-box .gallery .line figure {
  width: 46%;
  float: left;
  margin-left: 8%;
  background-color: #edeeef;
  margin-bottom: 8%;
}
.property-box .gallery .line figure a {
  display: inline-block;
  width: 100%;
}
.property-box .gallery .line figure img {
  width: 100%;
  height: auto;
}
.property-box .gallery .line figure:first-child {
  margin-left: 0;
}
.property-box .gallery .more {
  color: #cccccc;
  width: 100%;
  border: solid 3px #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
.property-box .title-line {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.property-box .title-line h2 {
  color: #414141;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin: 0;
}
.property-box .title-line p {
  color: #7a7a7a;
  font-size: 13px;
  display: inline-block;
  font-weight: 300;
}
.property-box .title-line .price {
  color: #414141;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}
.property-box .description {
  color: #414141;
  font-size: 13px;
  width: 100%;
  float: left;
}
.property-box table {
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: #f9f9f9;
  color: #414141;
  font-weight: 300;
}
.property-box table td {
  padding: 10px;
}
.pagination {
  text-align: center;
}
.pagination ul {
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: none;
}
.pagination ul li {
  margin: 0 5px;
  display: inline-block;
}
.pagination ul li a {
  border: solid 1px #c3c5c9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  color: #5a5a5a;
  font-weight: 300;
}
.pagination ul li a:hover {
  background-color: #edeeef;
}
.pagination ul li.active a {
  color: white;
  border-color: #4176c6;
  background-color: #4378c7;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
}
.pagination ul li.first-element a {
  color: #5a5a5a;
  border: none;
  background-color: transparent;
}
.pagination ul li.first-element a:before {
  display: block;
  float: left;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-left: -10px;
  border-color: transparent;
  border-right-color: #5a5a5a;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  content: " ";
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination ul li.first-element a:hover {
  color: #4a83db;
}
.pagination ul li.first-element a:hover:before {
  border-right-color: #4a83db;
}
.pagination ul li.last-element a {
  border: none;
  color: #5a5a5a;
  background-color: transparent;
}
.pagination ul li.last-element a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #5a5a5a;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination ul li.last-element a:hover {
  color: #4a83db;
}
.pagination ul li.last-element a:hover:after {
  border-left-color: #4a83db;
}
.testimonial-box .flex-viewport {
  float: left;
  clear: both;
  width: 100%;
}
.testimonial-box .controls {
  float: right;
  margin-right: 12px;
  margin-top: -22px;
}
.testimonial-box .controls a {
  width: 16px;
  height: 16px;
  float: left;
  background-image: url('../img/testimonial-controls.png');
  text-indent: -9999px;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-left: 5px;
}
.testimonial-box .controls a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.testimonial-box .controls a.prev {
  background-position: 0px 0px;
}
.testimonial-box .controls a.next {
  background-position: -20px 0px;
}
.testimonial-box .slides {
  float: left;
  clear: both;
  width: 100%;
  list-style: none;
  margin-top: 10px;
}
.testimonial-box .slide-box {
  float: left;
}
.testimonial-box .slide-box .text-box {
  background-color: white;
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 -1px 4px #c3c5c9;
  -moz-box-shadow: 0 -1px 4px #c3c5c9;
  box-shadow: 0 -1px 4px #c3c5c9;
  color: 0 -1px 4px #c3c5c9;
  margin: 0 10px 10px 5px;
}
.testimonial-box .slide-box .text-box .inner {
  padding: 10px;
}
.testimonial-box .slide-box .text-box .bubble {
  width: 14px;
  height: 9px;
  background-image: url('../img/bubble.png');
  position: absolute;
  bottom: -9px;
  right: 20px;
}
.testimonial-box .slide-box .author-box {
  float: left;
  width: 100%;
}
.testimonial-box .slide-box .author-box figure {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  background-color: #c3c5c9;
  float: right;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.testimonial-box .slide-box .author-box figure img {
  width: 100%;
  height: auto;
}
.testimonial-box .slide-box .author-box .texts {
  float: right;
  text-align: right;
  margin-top: 7px;
}
.testimonial-box .slide-box .author-box .texts .name {
  font-weight: bold;
  color: #414141;
}
.testimonial-box .slide-box .author-box .texts .position {
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 300;
}
.blog-style article {
  margin-bottom: 20px;
}
.blog-style article .text-box {
  margin-left: 70px;
}
.blog-style article .text-box h3 {
  color: #414141;
  font-size: 16px;
  line-height: 17px;
  margin: 0;
}
.blog-style article .text-box h3 a {
  color: #414141;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blog-style article .text-box h3 a:hover {
  color: #4a83db;
}
.blog-style article .text-box .author {
  font-size: 13px;
  color: #9d9d9d;
  font-weight: 300;
  margin-bottom: 7px;
  display: block;
}
.date-box {
  float: left;
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  width: 60px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px #d0d2d5;
  -moz-box-shadow: 0px 0px 5px #d0d2d5;
  box-shadow: 0px 0px 5px #d0d2d5;
  color: 0px 0px 5px #d0d2d5;
}
.date-box .day {
  background-color: white;
  float: left;
  width: 100%;
  color: #414141;
  font-size: 21px;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  font-weight: bold;
  padding: 7px 0;
  border-bottom: solid 1px #c3c5c9;
}
.date-box .month {
  background-color: #efefef;
  color: #757575;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  padding: 3px 0;
  font-size: 13px;
  font-weight: 300;
}
.read-more {
  color: #4a83db;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}
.read-more:hover {
  color: #245db5;
}
.price-wrapper {
  float: right;
  margin-top: 5px;
}
.price-wrapper .price {
  font-size: 18px;
  line-height: 19px;
  display: inline-block;
  color: #414141;
  font-weight: bold;
}
.price-wrapper .rate {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  line-height: 11px;
  color: #414141;
  font-weight: 300;
}
.star-rating {
  float: left;
  margin-top: 5px;
}
.star-rating .star {
  width: 16px;
  hieght: 16px;
  background-image: url('../img/stars.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
}
.star-rating .star.active {
  background-position: -16px 0;
}
.star-rating .star.blue {
  background-position: -32px 0;
}
.widget {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}
.widget .widget-title {
  float: left;
  background-color: #edeeef;
  width: 100%;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  border-bottom: solid 1px #c3c5c9;
}
.widget .widget-title.uppercase h2 {
  text-transform: uppercase;
}
.widget .widget-title .inner {
  padding: 3px 20px;
}
.widget .widget-title h2 {
  color: #414141;
  text-transform: capitalize;
}
.widget .widget-list {
  width: 100%;
  float: left;
  padding: 5px 0;
}
.widget .widget-list li {
  width: 100%;
}
.widget .widget-list li a {
  padding: 10px 20px;
  color: #4a83db;
  text-decoration: none;
  display: block;
  font-weight: 300;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.widget .widget-list li a:hover {
  background-color: #f6f7f8;
  color: #717171;
}
.widget .widget-content {
  background-color: white;
  float: left;
  width: 100%;
  position: relative;
}
.widget .widget-content.top-arrow:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 29px;
  position: absolute;
  top: -7px;
}
.widget .widget-content.top-arrow:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 30px;
  position: absolute;
  top: -6px;
}
.widget .widget-content .inner {
  padding: 10px 20px;
}
.widget .widget-content form {
  margin: 0;
}
.widget .widget-section {
  float: left;
  width: 100%;
  border-bottom: dashed 1px #c3c5c9;
}
.widget .widget-section .inner {
  padding: 15px 20px;
}
.widget .widget-section .slider.slider-horizontal {
  width: 100% !important;
}
.widget .widget-section.first-half {
  width: 50%;
}
.widget .widget-section.first-half .inner {
  padding: 15px 10px 15px 20px;
}
.widget .widget-section.second-half {
  width: 50%;
}
.widget .widget-section.second-half .inner {
  padding: 15px 20px 15px 10px;
}
.widget .widget-buttons {
  float: left;
  width: 100%;
  text-align: center;
}
.widget .widget-buttons .inner {
  padding: 0px 20px 15px;
}
.widget .widget-buttons .more-options {
  color: #a5a5a5;
  font-size: 12px;
  text-decoration: none;
  background-color: #efefef;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.widget .widget-buttons .btn {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  margin-top: 30px;
  border-color: #4176c6;
  margin-bottom: 10px;
}
.widget .widget-buttons .btn:hover {
  background-image: none;
  background-color: #4479ca;
}
.widget .widget-buttons .btn:focus {
  background-image: none;
  background-color: #4479ca;
}
.widget input[type='text'] {
  padding: 4px 10px;
  height: 35px;
}
.widget .measure-type {
  position: absolute;
  right: 30px;
  bottom: 33px;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 300;
}
.widget .bootstrap-select {
  margin-top: 0;
  width: 100%;
}
.widget .bootstrap-select .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.widget span {
  font-family: "Ubuntu", Arial !important;
}
.widget label {
  color: #b9b9b9;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1px;
}
.widget .slider-selection {
  background-color: #4a83db;
  background-image: none;
}
.widget .slider-track {
  border: solid 1px #c3c5c9;
  background-color: #efefef;
  background-image: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  height: 12px !important;
}
.widget .slider-handle {
  background-color: white;
  background-image: url('../img/slider-handle.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.widget .slider-handle:hover {
  background-color: #edeeef;
}
.top-bar {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  float: left;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #a1a1a1;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
}
.top-bar strong {
  color: #414141;
}
.top-bar .text-line {
  margin-right: 5px;
}
.top-bar .bar-title {
  width: 100%;
  float: left;
  background-color: #edeeef;
  border-bottom: solid 1px #c3c5c9;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}
.top-bar .inner {
  padding: 0px 20px;
}
.top-bar .custom-margin {
  margin: 10px 0;
}
.top-bar .bootstrap-select.btn-group {
  margin: 0;
}
.top-bar .bootstrap-select .btn {
  font-family: "Ubuntu", Arial !important;
  padding-top: 7px;
  padding-bottom: 7px;
}
.top-bar .view-type {
  margin-top: 12px;
}
.top-bar .view-type ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  overflow: hidden;
  vertical-align: middle;
}
.top-bar .view-type ul li {
  float: left;
}
.top-bar .view-type ul li a {
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  float: left;
  text-transform: capitalize;
  border-right: solid 1px #c3c5c9;
  background-position: center center;
  background-repeat: no-repeat;
}
.top-bar .view-type ul li a:hover {
  background-color: #edeeef;
}
.top-bar .view-type ul li a.grid {
  background-image: url('../img/selector-list.png');
}
.top-bar .view-type ul li a.list {
  background-image: url('../img/selector-grid.png');
}
.top-bar .view-type ul li a.location {
  background-image: url('../img/selector-location.png');
}
.top-bar .view-type ul li.active a {
  background-color: #4a83db;
}
.top-bar .view-type ul li.active a.grid {
  background-image: url('../img/selector-list-hover.png');
}
.top-bar .view-type ul li.active a.list {
  background-image: url('../img/selector-grid-hover.png');
}
.top-bar .view-type ul li.active a.location {
  background-image: url('../img/selector-location-hover.png');
}
.top-bar .view-type ul li.last-element a {
  border-right: none;
}
.top-bar .results-per-page ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.top-bar .results-per-page ul li {
  float: left;
}
.top-bar .results-per-page ul li a {
  padding: 5px 10px;
  font-weight: bold;
  color: #414141;
  text-decoration: none;
}
.top-bar .results-per-page ul li a:hover {
  color: #4a83db;
}
.top-bar .results-per-page ul li.active a {
  color: #4a83db;
}
.top-bar .bar-bottom {
  width: 100%;
  float: left;
  background-color: white;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
#contact-form {
  float: left;
  width: 100%;
  background-color: #edeeef;
  border-top: solid 1px #c3c5c9;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
#contact-form:after {
  background-image: url('../img/content-bubble.png');
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
  content: "";
  z-index: 3;
}
.contact-box {
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
}
.contact-box .title-bar {
  width: 100%;
  float: left;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  background-color: #edeeef;
  border-bottom: solid 1px #c3c5c9;
}
.contact-box .title-bar .inner {
  padding: 15px 20px;
}
.contact-box .title-bar h2 {
  color: #414141;
  font-size: 18px;
  text-transform: none;
  margin: 0;
}
.contact-box .title-bar p {
  color: #747575;
  font-size: 13px;
  margin: 4px 0 0;
}
.contact-box .contact-box-content {
  width: 100%;
  float: left;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  background-color: white;
}
.contact-box .contact-box-content .inner {
  padding: 10px 20px;
}
.contact-box .contact-box-content .half {
  width: 48%;
  display: inline-block;
  float: left;
}
.contact-box .contact-box-content .half.first-half {
  margin-right: 4%;
}
.contact-box .contact-box-content input[type='text'],
.contact-box .contact-box-content input[type='password'],
.contact-box .contact-box-content input[type='email'],
.contact-box .contact-box-content input[type='tel'] {
  height: 40px;
  display: inline-block;
  padding: 5px 10px;
}
.contact-box .contact-box-content textarea {
  padding: 5px 10px;
}
.contact-box .contact-box-content input[type='submit'].btn {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  margin-top: 20px;
  border-color: #4176c6;
  margin-bottom: 10px;
  font-family: "Ubuntu", Arial !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.contact-box .contact-box-content input[type='submit'].btn:hover {
  background-image: none;
  background-color: #4479ca;
}
.contact-box .contact-box-content label {
  font-size: 12px;
  color: #b9b9b9;
  font-weight: 300;
  text-transform: uppercase;
}
.contact-box .contact-box-content label.checkbox {
  text-transform: none;
  font-size: 13px;
  color: #5a5a5a;
}
.custom-multiple-select-filters {
  width: 100%;
  float: left;
  margin-bottom: 4px;
}
.custom-multiple-select-filters span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #a1a1a1;
  font-size: 13px;
}
.custom-multiple-select-filters ul {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
.custom-multiple-select-filters ul li {
  float: left;
  color: #414141;
}
.custom-multiple-select-filters ul li.active a {
  color: #4a83db;
}
.custom-multiple-select-filters ul li a {
  font-size: 13px;
  font-weight: bold;
  color: #414141;
  padding: 3px 6px;
  text-decoration: none;
}
.custom-multiple-select-filters ul li a:hover {
  color: #4a83db;
}
.custom-multiple-select-filters ul li a.active {
  color: #4a83db;
}
.custom-multiple-select {
  border: solid 1px #c3c5c9;
  background-color: #f9f9f9;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  height: 400px;
}
.custom-multiple-select .mCSB_container {
  margin-right: 6px;
}
.custom-multiple-select .mCSB_scrollTools {
  width: 7px;
}
.custom-multiple-select .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.custom-multiple-select select {
  display: none;
}
.custom-multiple-select ul {
  list-style: none;
  width: 100%;
  float: left;
}
.custom-multiple-select ul li {
  float: left;
  width: 100%;
  cursor: pointer;
}
.custom-multiple-select ul li:after {
  background-image: url('../img/ok-grey.png');
  width: 17px;
  height: 13px;
  float: right;
  content: ' ';
  margin-right: 15px;
  margin-top: -37px;
}
.custom-multiple-select ul li .inner-list {
  padding: 10px 20px;
}
.custom-multiple-select ul li span {
  color: #727272;
  font-weight: 300;
  font-size: 13px;
}
.custom-multiple-select ul li strong {
  color: #727272;
  font-size: 13px;
}
.custom-multiple-select ul li.selected {
  background-color: #4a83db;
}
.custom-multiple-select ul li.selected:after {
  background-image: url('../img/ok-white.png');
}
.custom-multiple-select ul li.selected span {
  color: white;
}
.custom-multiple-select ul li.selected strong {
  color: white;
}
.author-section {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}
.author-section.big-margins {
  margin-top: 20px;
  margin-bottom: 40px;
}
.author-section .left {
  float: left;
  border-right: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
}
.author-section .left .text {
  position: relative;
}
.author-section .left .inner {
  padding: 20px;
}
.author-section .left figure {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 20px;
  background-color: #dddddd;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  margin-left: 20px;
  -webkit-box-shadow: inset 0px 5px 7px #b4b4b4;
  -moz-box-shadow: inset 0px 5px 7px #b4b4b4;
  box-shadow: inset 0px 5px 7px #b4b4b4;
  color: inset 0px 5px 7px #b4b4b4;
  overflow: hidden;
}
.author-section .left .follow {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  padding: 5px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.author-section .left .follow:hover {
  background-image: none;
  background-color: #4479ca;
}
.author-section .left .follow:focus {
  background-image: none;
  background-color: #4479ca;
}
.author-section .left .follow.active {
  background-color: #f17235;
  background-image: none;
  border-color: #f17235;
}
.author-section .left .follow.active:hover {
  background-image: none;
  background-color: #f17235;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  border-color: #f17235;
}
.author-section .left .follow.active:focus {
  background-image: none;
  background-color: #f17235;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  border-color: #f17235;
}
.author-section .left h2 {
  display: inline-block;
  font-size: 16px;
  color: #414141;
  font-weight: bold;
  margin: 0;
}
.author-section .left .job-title {
  color: #a0a0a0;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 300;
}
.author-section .left p {
  color: #5a5a5a;
  font-weight: 300;
}
.author-section .right {
  float: left;
  width: 20%;
  font-size: 14px;
  color: #414141;
  text-align: center;
}
.author-section .right .listings {
  margin-top: 55px;
}
.author-section .right .number {
  font-size: 21px;
  font-weight: bold;
}
.agent-box {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
}
.agent-box .text {
  position: relative;
  margin-left: 155px;
}
.agent-box .inner {
  padding: 20px;
}
.agent-box figure {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 20px;
  background-color: #dddddd;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  margin-left: 20px;
  -webkit-box-shadow: inset 0px 5px 7px #b4b4b4;
  -moz-box-shadow: inset 0px 5px 7px #b4b4b4;
  box-shadow: inset 0px 5px 7px #b4b4b4;
  color: inset 0px 5px 7px #b4b4b4;
  overflow: hidden;
}
.agent-box .follow {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  padding: 5px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.agent-box .follow:hover {
  background-image: none;
  background-color: #4479ca;
}
.agent-box .follow:focus {
  background-image: none;
  background-color: #4479ca;
}
.agent-box .follow.active {
  background-color: #f17235;
  background-image: none;
  border-color: #f17235;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: none;
}
.agent-box .follow.active:hover {
  background-image: none;
  background-color: #f17235;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  border-color: #f17235;
}
.agent-box .follow.active:focus {
  background-image: none;
  background-color: #f17235;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  border-color: #f17235;
}
.agent-box h2 {
  display: inline-block;
  font-size: 16px;
  color: #414141;
  font-weight: bold;
  margin: 0;
}
.agent-box .job-title {
  color: #a0a0a0;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 300;
}
.agent-box p {
  color: #5a5a5a;
  font-weight: 300;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
}
.breadcrumb li {
  text-shadow: none;
}
.breadcrumb li a {
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.breadcrumb li.active {
  color: white;
}
.blog-section article {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.blog-section .right {
  margin-left: 80px;
}
.blog-section .right .text-box {
  margin-left: 0;
}
.blog-section .text-box-bottom {
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  background-color: #efefef;
  height: 40px;
  border: solid 1px #c3c5c9;
  border-top: none;
  -webkit-box-shadow: 0 3px 10px #d0d2d5;
  -moz-box-shadow: 0 3px 10px #d0d2d5;
  box-shadow: 0 3px 10px #d0d2d5;
  color: 0 3px 10px #d0d2d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.blog-section .text-box-bottom .inner {
  padding: 10px;
}
.blog-section .text-box {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
  margin-left: 80px;
}
.blog-section .text-box.hasBottom {
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  position: relative;
}
.blog-section .text-box.hasBottom:before {
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 20px;
  position: absolute;
  bottom: -7px;
}
.blog-section .text-box.hasBottom:after {
  border-top: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 21px;
  position: absolute;
  bottom: -6px;
}
.blog-section .text-box .inner {
  padding: 20px;
}
.blog-section .text-box .bottom-buttons {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}
.blog-section .text-box .bottom-buttons .comments-link {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  color: #9d9d9d;
}
.blog-section .text-box .bottom-buttons .learn-more {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 0px 1px black;
}
.blog-section .text-box .bottom-buttons .learn-more:hover {
  background-image: none;
  background-color: #4479ca;
}
.blog-section .text-box .bottom-buttons .learn-more:focus {
  background-image: none;
  background-color: #4479ca;
}
.blog-section .text-box h3 {
  color: #414141;
  font-size: 16px;
  line-height: 17px;
  margin: 0;
}
.blog-section .text-box h3 a {
  color: #414141;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blog-section .text-box h3 a:hover {
  color: #4a83db;
}
.blog-section .text-box p {
  color: #5a5a5a;
  font-weight: 300;
}
.blog-section .text-box .col3 {
  float: left;
  width: 33.3333%;
}
.blog-section .text-box ul {
  padding-left: 20px;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 300;
}
.blog-section .text-box ul.custom-list {
  list-style-image: url('../img/list-style1.png');
}
.blog-section .text-box ul.custom-list-double {
  list-style-image: url('../img/list-style2.png');
}
.blog-section .text-box .author {
  font-size: 13px;
  color: #9d9d9d;
  font-weight: 300;
  margin-bottom: 7px;
  display: block;
}
.blog-section .text-box .author a {
  color: #9d9d9d;
}
.blog-section .text-box figure {
  display: inline-block;
  background-color: #edeeef;
  height: 230px;
  overflow: hidden;
}
.blog-section .text-box figure.big-figure {
  width: 100%;
  margin-bottom: 20px;
}
.blog-section .text-box figure.small-figure {
  width: 40%;
}
.blog-section .text-box .text {
  display: inline-block;
  vertical-align: top;
}
.blog-section .text-box .text.big-figure {
  width: 100%;
}
.blog-section .text-box .text.small-figure {
  width: 54%;
  margin-left: 4%;
}
.comments-box {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comments-box > .comment {
  border-top: solid 1px #c3c5c9;
}
.comments-box > .comment:first-child {
  border-top: none;
}
.comments-box .comment {
  width: 100%;
  display: inline-block;
}
.comments-box .comment .inner {
  padding: 10px 20px 10px;
}
.comments-box .comment figure {
  width: 59px;
  height: 59px;
  float: left;
}
.comments-box .comment .content {
  margin-left: 70px;
}
.comments-box .comment h3 {
  font-size: 14px;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  line-height: 15px;
}
.comments-box .comment h3 a {
  color: black;
  text-decoration: none;
}
.comments-box .comment p {
  color: #5a5a5a;
  font-weight: 300;
  font-size: 14px;
}
.comments-box .comment .time {
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 300;
}
.comments-box .comment .load-more {
  color: #4983d9;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 5px 0;
}
.comment-form {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
}
.comment-form .inner {
  padding: 20px;
}
.comment-form .inner > .row {
  margin-left: 0;
}
.comment-form .half {
  width: 48%;
  float: left;
  margin-left: 4%;
}
.comment-form .half.first-half {
  margin-left: 0;
}
.comment-form .quarter {
  width: 25%;
  float: left;
  margin-top: 10px;
}
.comment-form .quarter3 {
  width: 71%;
  margin-right: 4%;
  float: left;
  margin-top: 10px;
}
.comment-form input[type='text'],
.comment-form input[type='password'],
.comment-form input[type='email'],
.comment-form input[type='tel'] {
  height: 40px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 17px;
}
.comment-form textarea {
  padding: 9px 10px;
}
.comment-form input[type='submit'].btn {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  margin-bottom: 10px;
  font-family: "Ubuntu", Arial !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.comment-form input[type='submit'].btn:hover {
  background-image: none;
  background-color: #4479ca;
}
.alert {
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  text-shadow: none;
  margin-bottom: 0;
}
.alert.alert-danger {
  font-size: 14px;
  color: white;
  font-weight: 300;
  background-color: #d95349;
  border-color: #d95349;
}
.hero-unit {
  text-align: center;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #d0d2d5;
  -moz-box-shadow: 0 0 10px #d0d2d5;
  box-shadow: 0 0 10px #d0d2d5;
  color: 0 0 10px #d0d2d5;
  padding: 30px;
  margin-top: 30px;
}
.hero-unit h1 {
  font-size: 24px;
  color: #414141;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0px;
}
.hero-unit p {
  font-weight: 300;
  color: #5a5a5a;
  width: 70%;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
}
.hero-unit .btn {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjODZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ3OWNhIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -webkit-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: -o-linear-gradient(90deg, #4c86e0 0%, #4479ca 100%);
  background-image: linear-gradient(0deg, #4c86e0 0%, #4479ca 100%);
  border-color: #4176c6;
  padding: 10px 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 0px 1px black;
}
.hero-unit .btn:hover {
  background-image: none;
  background-color: #4479ca;
}
.hero-unit .btn:focus {
  background-image: none;
  background-color: #4479ca;
}
.full-width {
  margin-top: 30px;
  width: 100%;
  float: left;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 20px 0 30px;
  border-top: solid 1px #c3c5c9;
}
.full-width h2 {
  margin-top: 0;
}
.big-numbers {
  list-style: none;
  padding-left: 30px;
  color: #999999;
  font-weight: 300;
}
.big-numbers li {
  margin-bottom: 10px;
}
.big-numbers .number {
  margin-left: -30px;
  font-size: 24px;
  font-weight: bold;
  color: #5a5a5a;
  display: inline-block;
  vertical-align: top;
  line-height: 27px;
}
.big-numbers .text {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.stats5 {
  width: 100%;
  float: left;
}
.stats5 .stats-box {
  width: 18%;
  margin-left: 2.5%;
  float: left;
  background-color: white;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.stats5 .stats-box .inner {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  padding: 10px;
}
.stats5 .stats-box .number {
  font-size: 50px;
  color: #414141;
  line-height: 51px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.stats5 .stats-box .text {
  font-size: 14px;
  color: #414141;
  font-weight: 300;
  line-height: 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.stats5 .stats-box:first-child {
  margin-left: 0;
}
.about-slider {
  float: left;
  width: 100%;
}
.description-box {
  width: 100%;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: white;
  float: left;
  margin-bottom: 10px;
  display: none;
}
.description-box:first-child {
  display: block;
}
.description-box .inner {
  padding: 20px;
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.description-box .inner-container {
  width: 100%;
  display: inline-block;
}
.description-box figure {
  float: left;
  width: 40%;
  height: 190px;
  background-color: #edeeef;
  margin-right: 20px;
  margin-bottom: 5px;
}
figure img {
  width: 100%;
  max-height: 100%;
}
.description-box .list-container {
  display: inline-block;
}
.description-box h2 {
  color: #414141;
  margin-top: 0;
  margin-bottom: 20px;
}
.description-box ul {
  padding-left: 20px;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.description-box ul a {
  color: #4a83db;
}
.description-box ul.custom-list {
  list-style-image: url('../img/list-style1.png');
}
.description-box ul.custom-list-double {
  list-style-image: url('../img/list-style2.png');
}
.description-controls {
  float: left;
  width: 100%;
}
.description-controls ul {
  float: left;
  list-style: none;
}
.description-controls ul li {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.description-controls ul li a {
  border: solid 1px #c3c5c9;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: white;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  text-decoration: none;
  color: #414141;
  font-weight: 300;
}
.description-controls ul li a:hover {
  background-color: #edeeef;
}
.description-controls ul li a.active {
  background-color: #4a83db;
  color: white;
}
blockquote {
  font-size: 18px;
  line-height: 25px;
  color: #b1b1b1;
  border-left: solid 2px #4a83db;
  margin-left: 40px;
  font-weight: 300;
}
.location-finder {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
.location-finder .button-slider {
  position: absolute;
  visibility: visible;
  top: 48%;
  left: 0%;
  background-image: url('../img/button-slider.png');
  width: 7px;
  height: 17px;
  padding: 5px 3px;
  -webkit-border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  border: solid 1px #c3c5c9;
  border-left: none;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2000;
  background-color: #ffffff;
}
.location-finder #map_canvas {
  width: 100%;
  height: 750px;
}
.location-finder .left-side {
  -webkit-border-radius: 4px 0 4px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 0 4px 0;
  -moz-background-clip: padding;
  border-radius: 4px 0 4px 0;
  background-clip: padding-box;
  float: left;
  width: 40%;
  height: 750px;
  overflow-y: auto;
  position: relative;
  z-index: 200;
  top: 0px;
  left: 0px;
  background-color: white;
}
.location-finder .left-side .mCSB_container {
  margin-right: 7px;
}
.location-finder .left-side .mCustomScrollBox > .mCSB_scrollTools {
  width: 8px;
}
.location-finder .left-side .mCS-dark-thick > .mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: white;
  border-right: solid 1px #c3c5c9;
}
.location-finder .left-side .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-color: black;
}
.location-finder article {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px #c3c5c9;
  border-right: solid 1px #c3c5c9;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.location-finder article:hover {
  background-color: #edeeef;
}
.location-finder article:first-child {
  border-top: none;
}
.location-finder article figure {
  float: left;
  width: 40%;
  height: 80px;
  margin-left: -1px;
  border: solid 1px #c3c5c9;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px #d0d2d5;
  -moz-box-shadow: inset 0px 0px 10px #d0d2d5;
  box-shadow: inset 0px 0px 10px #d0d2d5;
  color: inset 0px 0px 10px #d0d2d5;
  position: relative;
  background-color: white;
}
.location-finder article figure img {
  width: 100%;
  height: auto;
}
.location-finder article .text {
  float: left;
  width: 45%;
  margin-left: 5%;
}
.location-finder article h3 {
  font-size: 14px;
  line-height: 15px;
  color: black;
  margin: 0;
  text-transform: uppercase;
}
.location-finder article p {
  color: #747575;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
}
.location-finder article .price {
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}
.location-finder .right-side {
  float: left;
  width: 60%;
  position: relative;
}
#clearFilters {
  font-size: 12px;
  color: #a5a5a5;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 3px 0;
  float: left;
  margin-top: -20px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .property-box .gallery .line figure, .property-box .gallery .line figure img { 
    min-height: 80px;
  }
  .tab-finder .tab-content form .search-string {
    width: 800px;
    margin-right: 15px;
  }
  .tab-finder .tab-content form .search-year {
    width: 185px;
  }
  .tab-finder .tab-content form .search-select {
    width: 160px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .tab-finder .tab-content form .search-price {
    width: 155px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .tab-finder .tab-content form .btn {
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .agent-box figure {
    margin-left: 25px;
  }
  .comment-form input[type='text'],
  .comment-form input[type='password'],
  .comment-form input[type='email'],
  .comment-form input[type='tel'] {
    margin-bottom: 9px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .main-nav > ul > li > a {
    padding: 14px 8px;
  }
  .widget .widget-section.first-half {
    width: 100%;
  }
  .widget .widget-section.first-half .inner {
    padding: 15px 20px;
  }
  .widget .widget-section.second-half {
    width: 100%;
  }
  .widget .widget-section.second-half .inner {
    padding: 15px 20px;
  }
  .tab-finder .tab-content form .search-string {
    width: 484px;
    margin-right: 15px;
  }
  .tab-finder .tab-content form .search-year {
    width: 55px;
  }
  .tab-finder .tab-content form .search-select {
    width: 115px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .tab-finder .tab-content form .search-price {
    width: 55px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .tab-finder .tab-content form .btn {
    width: 144px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .alert.alert-danger {
    padding: 10px;
    font-size: 11px;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .stats5 {
    float: none;
  }
  .stats5 .stats-box {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    float: none;
  }
  .tab-finder .tab-content .inner {
    padding: 30px 20px 20px;
  }
  .tab-finder .tab-content form .search-string {
    width: 217px;
    margin-right: 15px;
  }
  .tab-finder .tab-content form .search-year {
    width: 217px;
  }
  .tab-finder .tab-content form .search-select {
    width: 260px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .tab-finder .tab-content form .search-price {
    width: 260px;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 45px;
  }
  .tab-finder .tab-content form .line-divider {
    display: none;
  }
  .tab-finder .tab-content form .btn {
    width: 260px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .blog-section .right {
    margin-left: 0;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .blog-section .text-box {
    float: left;
    margin-left: 0;
    margin-top: 10px;
  }
  .blog-section .text-box .col3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .location-finder {
    margin-bottom: 10px;
  }
  .blog-section .text-box figure.small-figure {
    width: 100%;
    margin-bottom: 20px;
  }
  .blog-section .text-box .text.small-figure {
    margin-left: 0;
    width: 100%;
  }
  .comments-box .comment .content {
    float: left;
    width: 100%;
    margin-left: 0;
  }
  .comments-box .comment figure {
    margin-bottom: 10px;
  }
  .comment-form .half {
    width: 100%;
    margin-left: 0;
  }
  .comment-form .quarter3 {
    width: 100%;
  }
  .comment-form .quarter {
    width: 100%;
    margin-left: 0;
  }
  #page-title.small-height {
    height: auto;
  }
  .description-box figure {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-slider {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .full-width {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .full-width .span4 {
    margin-bottom: 10px;
  }
  .pagination {
    float: left;
    width: 100%;
  }
  .pagination ul li {
    margin: 0 1px;
  }
  .pagination ul li a {
    padding: 3px 7px;
    font-size: 12px;
  }
  .featured-items {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .featured-items .featured-item-wrapper {
    margin-bottom: 35px;
  }
  footer {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #sub-footer {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }
  #sub-footer .social-icons {
    float: none;
    display: inline-block;
  }
  .tinynav {
    display: inline-block;
    margin: 0 auto;
  }
  header {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
  }
  header .span3 {
    width: 50%;
    float: left;
  }
  header .span6 {
    position: absolute;
    bottom: -40px;
    width: 92%;
  }
  .header-buttons a {
    width: 40px;
  }
  #homepage-slider {
    height: 100px;
  }
  .tab-finder .nav-tabs > li > a {
    word-wrap: break-word;
    font-size: 13px;
  }
  #page-title {
    padding-left: 10px;
    padding-right: 10px;
    height: 210px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #page-title h1 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 31px;
  }
  .contact-box .contact-box-content .half {
    width: 100%;
  }
  .contact-box .contact-box-content .half.first-half {
    margin-right: 0;
  }
  #contact-form aside {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .featured-items .featured-item.featured-list figure {
    width: 100%;
  }
  .featured-items .featured-item.featured-list .right {
    width: 100%;
  }
  .top-bar .view-type {
    width: 100%;
  }
  .top-bar .results-per-page {
    width: 100%;
  }
  #content {
    padding-top: 5px;
  }
  .property-box .left {
    width: 100%;
  }
  .property-box .right {
    width: 100%;
    margin-left: 0;
  }
  .author-section .left {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #c3c5c9;
  }
  .author-section .left .text {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .author-section .left figure {
    margin-left: 0;
  }
  .author-section .left .follow {
    top: -80px;
  }
  .author-section .right {
    width: 100%;
  }
  .author-section .right .listings {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #hidden-header {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: scroll;
  }
  #hidden-header .profile-form {
    padding-top: 0;
  }
  #hidden-header .contact-form {
    padding-top: 0;
  }
}
@media (min-width: 200px) and (max-width: 340px) {
  body {
    padding: 0;
  }
}
