﻿@model BlueEstate.Models.Ev

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ev</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IlanTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IlanTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvinYasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvinYasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IlanTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IlanTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KonutTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonutTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanyoSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boyut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boyut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotograf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir.SehirAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir.SehirAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.KullaniciAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "EvDuzenle", new { id = Model.EvID }) |
    @Html.ActionLink("Listeye Geri Dön", "EvListe")
</p>

<div id="form-group">

    <h2>Resim Ön İzlemesi</h2>
    <img src="~/Content/img/yuklenenfotograflar/@Model.Fotograf" />

</div>
