﻿@model BlueEstate.Models.Ev

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ev</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" name="IlanTarihi" value="@DateTime.Now.ToString()" />
                @Html.ValidationMessageFor(model => model.IlanTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EvinYasi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EvinYasi, new { htmlAttributes = new { Value=1995, @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.EvinYasi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IlanTuru, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="IlanTuru">
                    <option value="Kiralik">Kiralik</option>
                    <option value="Satilik">Satilik</option>
                </select>
                @Html.ValidationMessageFor(model => model.IlanTuru, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KonutTipi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="KonutTipi">
                    <option value="Apartman">Apartman</option>
                    <option value="Mustakil">Mustakil</option>
                </select>
                @Html.ValidationMessageFor(model => model.KonutTipi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new {@min="0",@class = "form-control", @required = "required", @step="1000",Value = "1000" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OdaSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OdaSayisi, new { htmlAttributes = new { @min = "0", @step = "1", @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.OdaSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BanyoSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BanyoSayisi, new { htmlAttributes = new { @min = "0", @step = "1", @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.BanyoSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Boyut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Boyut, new { htmlAttributes = new { @min = "0", @step = "5", @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Boyut, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="UyeID" value="@Session["uye_id"]" />

        <div class="form-group">
            @Html.LabelFor(model => model.SehirID, "SehirID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SehirID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.SehirID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Fotograf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="Fotograf" value="bos.jpg" />
                <input type="file" name="Fotograf2" />
                @Html.ValidationMessageFor(model => model.Fotograf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
