﻿@model IEnumerable<BlueEstate.Models.Uye>

@{
    ViewBag.Title = "UyeListe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UyeListe</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyelikTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yetki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyelikTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAdi)
        </td>
        <td>
            @if (item.Yetki == 1)
            {
                <span>Yönetici</span>
            }
            else
            {
                <span>Müşteri</span>
            }
        </td>
        <td>
            @Html.ActionLink("Düzenle", "UyeDuzenle", new { id=item.UyeID }) |
            @Html.ActionLink("Detaylar", "UyeDetay", new { id=item.UyeID }) |
            @Html.ActionLink("Sil", "UyeSil", new { id=item.UyeID })
        </td>
    </tr>
}

</table>
