﻿@{
/*
string path = HttpContext.Current.Request.Url.AbsolutePath;
string[] link = new string[5];
link = path.Split('/');


string[] styles = new string[5];

if (link[2] == "Index" || link[0] == "")
{
    styles[0] = "class='active'";
}
else if (link[2] == "About")
{
    styles[1] = "class='active'";
}
else if (link[2] == "Property")
{
    styles[2] = "class='active'";
}
else if (link[2] == "Search")
{
    styles[3] = "class='active'";
}
else
{
    styles[0] = "class=''";
    styles[1] = "class=''";
    styles[2] = "class=''";
    styles[3] = "class=''";
}
*/

}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- Mirrored from teothemes.com/html/Unreal-estate/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2015 22:33:32 GMT -->
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Unreal Estate</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="~/Content/css/vendor/bootstrap-select.css">
    <link rel="stylesheet" href="~/Content/css/vendor/slider.css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="~/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script>
        window.onload = function () {
            var kelime = "@TempData["mesaj"]";

            if (kelime != "") {
                alert(kelime);

            }

        }
    </script>
    <style>
        header {
            background: url(../../Content/img/headeradmin.png);
        }

        #page-title {
            background: rgb(255,100,100);
        }

        .header-buttons a:hover {
            background-color: #ff0000;
            border-left: solid 1px transparent;
        }

        a {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a
            href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <section id='hidden-header'>
        <section class='container'>
            <section class='row profile-form'>
                <div class='span6'>
                    <div class='login-form top-form'>
                        <h2>Login</h2>
                        <p>Quisque tincidunt ornare sapien, at commodo ante tristique non. Integer id tellus nisl. Donec eget nunc eget odio malesuada egestas.</p>



                        <form action="~/Uye/GirisYardim" method="post" class="form-horizontal" role="form">
                            @Html.AntiForgeryToken();

                            <div class='span3'>
                                <input name="Email" type="text" class="input-block-level" placeholder="Kullanici Adi" />
                            </div>
                            <div class='span3'>
                                <input name="Password" type="password" class="input-block-level" placeholder="Sifre" />
                                <input type="submit" name='submit' value='Giriş !' class='btn btn-primary' />
                            </div>
                        </form>




                    </div>
                </div>
                <div class='span6'>
                    <div class='login-form top-form'>
                        <h2>Register</h2>
                        <p>Quisque tincidunt ornare sapien, at commodo ante tristique non. Integer id tellus nisl. Donec eget nunc eget odio malesuada egestas.</p>apien, at commodo ante tristique non. Integer id tellus nisl. Donec eget nunc eget odio malesuada egestas.</p>
                        <form action="~/Uye/KayitYardim" method="post" class="form-horizontal" role="form">
                            <div class='span4'>
                                <input type="email" class='input-block-level' name='email' placeholder="Email" />
                                <input type="text" class='input-block-level' name='username' placeholder="Username" /><br />
                                <input type="password" class='input-block-level' name='password' placeholder="Password" />
                                <input type="submit" name='submit' value='Register' class='btn btn-primary' />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <header>
        <section class='container'>
            <section class='row'>
                <div class='span3'>
                    <figure class='logo'>
                        <a href="~/Home/Index">
                            <img src="~/Content/img/logo.png" alt="" />
                        </a>
                    </figure>
                </div>
                <div class='span6'>
                    <nav class='main-nav'>
                        <ul>
                            <li><a href="~/Admin/EvListe">İlan Listesi</a></li>
                            <li><a href="~/Admin/UyeListe">Üye Listesi</a></li>
                            <li><a href="~/Admin/SliderListe">Slider Listesi</a></li>


                        </ul>
                    </nav>
                </div>
                <div class='span3'>
                    <div class='header-buttons'>
                        @if (Session["ad"] != null)
                        {

                            <div style="line-height:49px;margin-right:10px;float:left;color:#ccc">
                                <span style="color:#ffffff;font-size:14px;">
                                    <a href="~/Profil" style="width: 150px;
    height: 49px;
    float: right;
    text-align:center;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 0px;
    text-transform:none;
    text-decoration:none;
    margin-right:0px;
    padding-right:0px;

    color:#fff;
    border:0;">
                                        @Session["ad"]
                                    </a>

                                </span>



                            </div>






                            <div style="line-height:49px;margin-right:10px;float:left;color:#ccc">
                                <span style="color:#ffffff;font-size:14px;">
                                    <a href="~/Profil/Cikis" style="width: 50px;
    height: 49px;
    float: right;
    text-align:center;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 0px;
    text-transform:none;
    text-decoration:none;
    margin-right:0px;
    padding-right:0px;

    color:#fff;
    border:0;">
                                        Çıkış
                                    </a>

                                </span>



                            </div>


                        }
                        else
                        {
                            <a href="#" class='profile custom-tooltip' style="float:left;" title="Giriş Yapınız">Giris</a>


                        }
                    </div>
                </div>
            </section>
        </section>
    </header>









    <section id='page-title' class='small-height'>
        <section class='container'>
            <section class='row'>
                <div class='span8'>
                    <h1>Yönetici sayfasına hoşgeldiniz.</h1>
                </div>
            </section>
        </section>
    </section>
    <section class='about-slider'>
        <section class='container'>
            <section class='row'>
                <div class='span12'>
                    <div class='description-box open' rel='1'>
                        <div class='inner'>
                            <div class='inner-container'>






                                @RenderBody()





                            </div>
                        </div>
                    </div>
              
               
                </div>
            </section>
        </section>
    </section>








    <section id='sub-footer'>
        <section class='container'>
            <section class='row'>
                <div class='span3'>
                    <figure class='logo'>
                        <a href="~/Home/Index">
                            <img src="~/Content/img/logo-footer.png" alt="" />
                        </a>
                    </figure>
                </div>
                <div class='span6'>
                    <div class='copyright'>
                        <p>&copy; Blue Estate Emlak sitesinin tüm hakları saklıdır.</p>
                    </div>
                </div>
                <div class='span3'>
                    <div class='social-icons'>
                        <a href="http://www.pinterest.com" class='pinterest'>Pinterest</a>
                        <a href="http://www.facebook.com" class='facebook'>Facebook</a>
                        <a href="http://www.twitter.com" class='twitter'>Twitter</a>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <script src="~/Content/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.js"></script>
    <script src="~/Content/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/Content/js/vendor/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/vendor/bootstrap-slider.js"></script>
    <script src="~/Content/js/vendor/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Content/js/vendor/tinynav.min.js"></script>
    <script src="~/Content/js/vendor/jquery.placeholder.min.js"></script>
    <script src="~/Content/js/vendor/gmap3.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
<!-- Mirrored from teothemes.com/html/Unreal-estate/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2015 22:33:32 GMT -->
</html>
