﻿@model BlueEstate.Models.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sliderLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sliderLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sliderAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sliderAciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sliderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
