﻿@model IEnumerable<BlueEstate.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sliderLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sliderAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sliderLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sliderAciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sliderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.sliderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sliderID })
        </td>
    </tr>
}

</table>
