﻿@model BlueEstate.Models.Uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id='page-title' class='small-height'>
    <section class='container'>
        <section class='row'>
            <div class='span8'>
                <h1>About this project</h1>
                <p>In sit amet arcu quis dolor adipiscing laoreet sed sit amet arcu. Proin non adipiscing felis.</p>
            </div>
        </section>
    </section>
</section>
<section class='about-slider'>
    <section class='container'>
        <section class='row'>
            <div class='span12'>
                <div class='description-box open' rel='1'>
                    <div class='inner'>
                        <div class='inner-container'>





                            <h2>Index</h2>

                            <p>
                                @Html.ActionLink("Profili Düzene", "Edit")
                            </p>



                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.KullaniciAdi)
                                    </th>
                                    <td>
                                        @Model.KullaniciAdi
                                        
                                    </td>
                                </tr>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Sifresi)
                                    </th>
                                    <td>
                                        @Model.Sifresi 
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <td>
                                        @Model.Email 
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UyelikTarihi)
                                    </th>
                                    <td>
                                        @Model.UyelikTarihi
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UyeAdi)
                                    </th>
                                    <td>
                                        @Model.UyeAdi
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Yetki)
                                    </th>
                                    <td>
                                        @if (Model.Yetki == 0)
                                            {
                                                <span>Müşteri</span>
                                        }
                                        else
                                        {
                                                <span>Yönetici</span>
                                        }



                                    </td>
                                </tr>
                                <tr>

                                    <th>

                                    </th>
                                    <td>    
                                    </td>
                                </tr>

                            </table>









                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<section class='full-width'>
    <section class='container'>
        <section class='row'>
            <div class='span4'>
                <h2>How We Work</h2>
                <p>Aenean dignissim luctus ipsum a convallis. Pellentesque vehicula urna et dolor consectetur nec fermentum dui faucibus. </p>
                <a href="#" class='read-more'>Learn More</a>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>1.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>2.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>3.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                </ul>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>4.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>5.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>6.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</section>
<section id='content' class='alternate-bg'>
    <section class='container'>
        <section class='row featured-items'>
            <div class='span12'>
                <div class='stats5'>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>3k</span>
                            <span class='text'>Items in Database</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>300</span>
                            <span class='text'>Happy Clients</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>60</span>
                            <span class='text'>Experienced Agents</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>58</span>
                            <span class='text'>Searches per hour</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>786</span>
                            <span class='text'>Months of Activity</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='span12'>
                <div class="hero-unit">
                    <h1>Sed tortor nulla, vehicula hendrerit pretium</h1>
                    <p>Maecenas accumsan libero sed <strong>nunc ultricies eget molestie</strong> purus blandit. Maecenas lobortis vulputate tortor eget cursus. Curabitur a semper orci.</p>
                    <p>
                        <a class="btn btn-primary btn-large">
                            Learn more
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </section>
</section>