﻿@model IEnumerable<BlueEstate.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyelikTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yetki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyelikTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yetki)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UyeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UyeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UyeID })
        </td>
    </tr>
}

</table>
