﻿
<section id='page-title' class='small-height'>
    <section class='container'>
        <section class='row'>
            <div class='span8'>
                <h1>@lang.lang.baslik</h1>
            </div>
        </section>
    </section>
</section>
<section class='about-slider'>
    <section class='container'>
        <section class='row'>
            <div class='span9'>
                <div class='description-box open' rel='1'>
                    <div class='inner'>
                        <div class='inner-container'>
                            <figure>
                                <img alt="" src=" ~/Content/img/photos/4947806065_f932310392_b.jpg" />
                            </figure>
                            <h2>@lang.lang.How</h2>
                            <p>@lang.lang.aen </p>

                            <p>@lang.lang.ut</p>
                            <blockquote>@lang.lang.ali</blockquote>
                        </div>
                    </div>
                </div>
                <div class='description-box' rel='2'>
                    <div class='inner'>
                        <div class='inner-container'>
                            <figure>
                                <img src=" ~/Content/img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                            </figure>
                            <h2>@lang.lang.Strategy</h2>
                            <p>@lang.lang.aen  </p>

                            <p>@lang.lang.ut</p>
                            <blockquote>@lang.lang.ali</blockquote>
                        </div>
                    </div>
                </div>
                <div class='description-box' rel='3'>
                    <div class='inner'>
                        <div class='inner-container'>
                            <figure>
                                <img src=" ~/Content/img/photos/4834812234_3379989227_b.jpg" alt="" />
                            </figure>
                            <h2>@lang.lang.Tools</h2>
                            <p>@lang.lang.aen </p>

                            <p>@lang.lang.ut</p>
                            <blockquote>@lang.lang.ali</blockquote>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class='span3'>
                <div class='description-controls'>
                    <ul>
                        <li><a href="#" rel='1' class='active'>Ataberk Dinç</a></li>
                        <li><a href="#" rel='2'>G141210012</a></li>
                        <li><a href="#" rel='3'>Sakarya Üniversitesi</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</section>
<section class='full-width'>
    <section class='container'>
        <section class='row'>
            <div class='span4'>
                <h2>@lang.lang.How</h2>
                <p>@lang.lang.h1 </p>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>1.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                    <li>
                        <span class='number'>2.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                    <li>
                        <span class='number'>3.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                </ul>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>4.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                    <li>
                        <span class='number'>5.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                    <li>
                        <span class='number'>6.</span> <div class='text'>@lang.lang.pro</div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</section>
<section id='content' class='alternate-bg'>
    <section class='container'>
        <section class='row featured-items'>
            <div class='span12'>
                <div class='stats5'>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>3k</span>
                            <span class='text'>@lang.lang.item</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>300</span>
                            <span class='text'>@lang.lang.happy</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>60</span>
                            <span class='text'>@lang.lang.agents</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>58</span>
                            <span class='text'>@lang.lang.hour</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>786</span>
                            <span class='text'>@lang.lang.month</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='span12'>

            </div>
        </section>
    </section>
</section>