﻿
@{
    ViewBag.Title = "Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model BlueEstate.Models.PropertyListe

<section id='page-title'>
    <section class='container'>
        <section class='row'>
            <div class='span6'>
                <h1>Property</h1>
                <ul class="breadcrumb">
                    <li><a href="#">Home</a> <span class="divider">&ndash;</span></li>
                    <li><a href="#">Property</a> <span class="divider">&ndash;</span></li>
                    <li class="active">Seaway House</li>
                </ul>
            </div>
        </section>
    </section>
</section>
<section id='content' class='alternate-bg'>
    <section class='container'>
        <section class='row featured-items'>
            <section class='span9'>
                <div class='property-box'>
                    <div class='top'>
                        <div class='row'>
                            <div class='left' style="width:100%;">
                                <figure>

                                        <img src="~/Content/img/yuklenenfotograflar/@Model.ev.Fotograf" alt="" />
                                    <div class='banner'>@Model.ev.IlanTuru</div>
                                </figure>
                                <div class='title-line'>
                                    <div class='pull-left'>
                                        <h2>@Model.ev.Sehir.SehirAdi</h2> <br />
                                        <p>@Model.ev.Adres</p>
                                    </div>
                                    <div class='pull-right'>
                                        <span class='price'>$@Model.ev.Fiyat</span>
                                    </div>
                                </div>
                                <div class='description'>
                                    <p>AÇIKLAMA</p>
                                </div>
                                <table class='table table-hover table-bordered'>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>@Model.ev.OdaSayisi</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>@Model.ev.BanyoSayisi</td>
                                    </tr>
                                    <tr>
                                        <td>Evin Alanı</td>
                                        <td>@Model.ev.Boyut m²</td>
                                    </tr>
                                    <tr>
                                        <td>Konut Tipi</td>
                                        <td>@Model.ev.KonutTipi</td>
                                    </tr>
                                    <tr>
                                        <td>Ilan Türü</td>
                                        <td>@Model.ev.IlanTuru</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <aside class='span3'>


                <h2 style="font-size:31px;">BENZER İLANLAR</h2>

                <br />

                @if (Model.evbenzer3 != null)
                {
                    if (Model.evbenzer3.Count > 0)
                    {

                        foreach (var item in Model.evbenzer3)
                        {

                            <div class="span3 featured-item-wrapper" style="margin:0px;">
                                <div class="featured-item">
                                    <div class="top">
                                        <div class="inner-border">
                                            <div class="inner-padding">
                                                <figure>
                                                    <img src="~/Content/img/yuklenenfotograflar/@Model.ev.Fotograf" alt="">
                                                    <div class="banner">@item.IlanTuru</div>
                                                    <a href="/Home/Property/@item.EvID" class="figure-hover">Zoom</a>
                                                </figure>
                                                <h3><a href="/Home/Property/@item.EvID">@item.Sehir.SehirAdi</a></h3>
                                                <p>@item.Sehir.SehirAdi / @item.Sehir.Eyalet.EyaletAdi</p>
                                            </div>
                                        </div>
                                        <i class="bubble"></i>
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-border">
                                            <div class="inner-padding">
                                                <p>@item.OdaSayisi beds  +  @item.BanyoSayisi bath  +  @item.Boyut sqft</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h2>ARADIĞINIZ KRİTERLERE BENZER <br /> İLAN BULUNAMADI.</h2>
                    }


                }
                



            </aside>
        </section>
    </section>
</section>